<%= form_for Gesmew::User.new, :as => :gesmew_user, :url => gesmew.create_new_session_path do |f| %>
  <div id="password-credentials">
    <p>
      <%= f.label :email, Gesmew.t(:email) %>
      <%= f.email_field :email, :class => 'form-control', :tabindex => 1, autofocus: true %>
    </p>
    <p>
      <%= f.label :password, Gesmew.t(:password) %>
      <%= f.password_field :password, :class => 'form-control', :tabindex => 2 %>
    </p>
  </div>
  <p>
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Gesmew.t(:remember_me) %>
  </p>

  <p><%= f.submit Gesmew.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 4 %></p>
<% end %>
